* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

/* 스크롤 가리기 */
ul::-webkit-scrollbar {
  display: none;
}
ul {
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}
